
/*--------------------------------------------------------------
Footer CSS
--------------------------------------------------------------*/

.blogmagazine-middle-footer{
    color:$white_color;
    padding-top: 30px;
    background-color: #100f15;
    .widget{
        a{
            color: #cfcfcf;
            &:before{
                color: #cfcfcf;
            }
            &:hover{
                color: $primary_color;
                &:before{
                    color: $primary_color;
                }
            }
        }
        li{
            &:before{
                color: #cfcfcf;
            }
            &:hover{
                &:before{
                    color: $primary_color;
                }
            }
        }
        .blogmagazine-post-title{
            &.small-size, &.large-size{
                a{
                    color: #cfcfcf;
                }
            }
        }

    }
    .dg-footer-widget{
        float: left;
        padding:0 7.5px;
    }
    &.footer_column_1{
        .dg-footer-widget{
            width:100%;
        }
    }
    &.footer_column_2{
        .dg-footer-widget{
            width:50%;
            @media(max-width:600px){
                width:100%;
            }
        }
    }
    &.footer_column_3{
        .dg-footer-widget{
            width:33.33%;
            @media(max-width:600px){
                width:100%;
            }
        }
    }
    &.footer_column_4{
        .dg-footer-widget{
            width: 25%;
            @media (min-width:600px) and (max-width:1023px){
                width:50%;
            }
            @media(max-width:600px){
                width:100%;
            }
        }
    }

    /*--------------------------------------------------------------
    Tag Cloud Widget Css
    --------------------------------------------------------------*/

    .widget_tag_cloud{
        .tagcloud{
            a{
                &:hover{
                    color:#fff;
                }
            }
        }
    }

}


.bottom-footer {
    color: #bfbfbf;
    font-size: 12px;
    padding: 10px 0;
    background-color: #0a0a0c;
}

.site-info {
    float: left;
}
/*footer */
.footer-navigation{
    ul{
        margin:0;
        float:right;
        list-style:none;
        &.sub-menu{
            display:none;
        }
        li{
            vertical-align: top;
            display: inline-block;
            a{
                color: #cfcfcf;
                margin-left: 10px;
                padding-left: 10px;
                border-left: 2px solid #7f7f7f;
                &:hover{
                    color: $primary_color;
                }
            }
            &:first-child{
                a{
                    margin-left: 0;
                }
            }
        }
    }
}


/*--------------------------------------------------------------
scroll to top css 
--------------------------------------------------------------*/

#blogmagazine-scrollup{
    right: 20px;
    width: 40px;
    bottom: 20px;
    height: 40px;
    display: none;
    color: $white_color;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    line-height: 35px;
    border-radius: 3px;
    text-align: center;
    transition: all 0.5s ease;
    background-color: $primary_color;
    &:hover, &:focus, &:active{
        color: $white_color;
        border-radius: 100%;
    }
}