/*--------------------------------------------------------------
Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
    font-size: 100%;
    /* Corrects font size not being inherited in all browsers */
    margin: 0;
    /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: middle;
}

.navigation .nav-links a,
.bttn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: $primary_color;
    color: $white_color;
    cursor: pointer;
    /* Improves usability and consistency of cursor style between image-type 'input' and others */
    font-size: 14px;
    line-height: 13px;
    height: 33px;
    border: none;
    padding: 10px 15px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    text-shadow: none;
    border: 1px solid $primary_color;
}

.navigation .nav-links a:hover,
.bttn:hover,
button,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: $primary_color;
    color: #ffffff !important;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    color: #666;
    border: 1px solid #ccc;
    height: 36px;
    width: 100%;
    -webkit-appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    border: 1px solid #AAA;
}

.searchform input[type="text"]:focus {
    border: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    padding: 3px 6px;
}

textarea {
    overflow: auto;
    /* Removes default vertical scrollbar in IE6/7/8/9 */
    padding-left: 3px;
    vertical-align: top;
    /* Improves readability and alignment in all browsers */
    color: #666;
    border: 1px solid #ccc;
    height: 160px;
    max-width: 100%;
    width: 100%;
}

.no-results input[type="search"] {
    width: 45%;
}


.everest-forms .everest-forms-part-button, 
.everest-forms button, .everest-forms button[type="submit"], 
.everest-forms input[type="submit"]{
    border:none;
    border-radius:0px;
    background:$primary_color;
    &:hover{
        background:$primary_color;
    }
}

.everest-forms .evf-field-container .evf-frontend-row label{
    margin-bottom:0px;
}