/*--------------------------------------------------------------
Sidebar layout css 
--------------------------------------------------------------*/

#primary{
    float: left;
    width: 70%;
}

.sidebar-main{
    float: right;
    width: 27%;
}

body.left-sidebar{
    #primary{
        float: right;
    }
    .sidebar-main {
        float: left;
    }
}

body.no-sidebar{
    #primary{
        float: none;
        width: 100%;
        margin: 0 auto;
    }
    .sidebar-main{
        display: none;
    }
}

body.no-sidebar-center{
    #primary{
        float: none;
        margin: 0 auto;
    }
}
