/*
 * @package dineshghimire
 * @subpackage blogmagazine
 * @since 1.0.0
 */
 
@import 'widgets/reset';
@import 'widgets/archive';
@import 'widgets/audio';
@import 'widgets/author';
@import 'widgets/calendar';
@import 'widgets/categories';
@import 'widgets/dg-social-icons';
@import 'widgets/dg-banner-ads';
@import 'widgets/dg-block-posts';
@import 'widgets/dg-carousel';
@import 'widgets/dg-default-tabbed';
@import 'widgets/dg-featured-posts';
@import 'widgets/dg-featured-slider';
@import 'widgets/dg-recent-posts';
@import 'widgets/gallery';
@import 'widgets/image';
@import 'widgets/meta';
@import 'widgets/nav-menu';
@import 'widgets/pages';
@import 'widgets/recent-comments';
@import 'widgets/recent-posts';
@import 'widgets/rss';
@import 'widgets/search';
@import 'widgets/tag-cloud';
@import 'widgets/text';
@import 'widgets/video';
