/*
 * @package dineshghimire
 * @subpackage blogmagazine
 * @since 1.0.0
 */
 
@import 'widget-area/sidebar-reset';
@import 'widget-area/sidebar-main';
@import 'widget-area/home-top';
@import 'widget-area/home-middle';
@import 'widget-area/home-bottom';