/*
 * @package dineshghimire
 * @subpackage blogmagazine
 * @since 1.0.0
 */
.widget_search{
	.search-field{
		width:70%;
		float:left;
	}
	.search-submit{
		width:30%;
		color:$white_color;
		height:36px;
		border-color: $primary_color;
		background-color: $primary_color;	
	}
}
