/*
 * @package dineshghimire
 * @subpackage blogmagazine
 * @since 1.0.0
 */
.widget_search{
	.search-field{
		width:70%;
		float:left;
	}
	.search-submit{
		width:30%;
		color:#fff;
		height:36px;
		border-color: #029FB2;
		background-color: #f54337;	
	}
}
